*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #150e28;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}
a {
  font-family: "Montserrat" sans-serif;
  text-decoration: none;
}
button,
input {
  outline: none;
  padding: 10px;
}
button {
  color: #fff;
  background-color: #d434fe;
  cursor: pointer;
  border: none;
}
button:hover {
  transform: scale(1.1);
  transition: all ease;
}
p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
h2,
h3,
h1 {
  font-family: "Familjen Grotesk", "Helvetica Neue";
  color: #fff;
}
ul {
  list-style: none;
}
.primary-text {
  color: #d434fe;
}
.container {
  max-width: 85%;
  margin: auto;
}
